label {
	margin: 3px;
	width: 350px;
	height: 46px;
}

img.plastelinka {
	transition: all 300ms ease-in-out;
	width: 280px;
	height: 46px;
}

input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked + img.plastelinka {
	
  transform: translateX(70px);
}

.container {
  position: absolute;
  width: 360px;
  height: 625px;
  margin-top: 1%;
  padding-left: 0;
  top: 0;
  left: 0;
  z-index: 10;
}

.mainContainer {
	position: relative;
}

img.plBox {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
}

img.plBoxBottom {
	position: absolute;
	z-index: -11;
	top: 0;
	left: 0;
}

.containerMix {
  position: absolute;
  width: 370px;
  height: 312px;
  background-color: #ffffff;
  top: 0;
  left: 0px;
  z-index: 9;
}

#target {
  position: absolute;
  background:none;
  width:100%;
  height:100%;
  display:none;
}

#bottom {
  background: none;
  width: 100%;
  height: 100%;
}
